// color Primary

$White: #ffff;
$Blue: #2762e0;
$Bluelight: #2f72be;
$GrayStrong: #252734;
$GrayStrongXL: #1d1f2b;
$Graylight: hsl(231, 17%, 24%);
$GraylightXL: #616268;

// Gradient
$GradientBlue: linear-gradient(180deg, #2b23c7 0%, #010d7c 100%);
$GradientBrown: linear-gradient(180deg, rgba(60,41,29,1) 0%, rgb(27, 20, 15) 100%); 