// color Primary

$White: #ffff;
$Blue: #2762e0;
$Bluelight: #2f72be;
$GrayStrong: #252734;
$Graylight: hsl(231, 17%, 24%);
$GraylightXL: #616268;

// Gradient
$GradientBlue: linear-gradient(180deg, #2b23c7 0%, #010d7c 100%);